<% layout('layouts/boilerplateForAllProduct') %>

    <div class="all-products">
        <div class="container">
            <% for (let product of products) { %>
            <a href="/products/<%= product.id %>">
                <div class="product">
                    <div class="part-7">
                        <div class="image">
                            <img src="<%= product.images[0]?.url %>" alt="<%= product.title %>">
                        </div>
                    </div>
                    <div class="part-8">
                        <h2><%= product.title %></h2>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h3><i class="fa-solid fa-indian-rupee-sign"></i> <%= product.price %>/month</h3>
                    </div>
                </div>  
            </a>
            <% } %>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const flashMessages = document.querySelectorAll('.flash-message');
            
            flashMessages.forEach(msg => {
                msg.addEventListener('click', function () {
                    this.style.display = 'none';
                });
            });
        });
    
        document.querySelector('form').addEventListener('submit', function() {
            console.log('Form submitted');
        });
    </script>

